<div class="col-md-12 text-right"><button id="boton_atras" class="btn btn_afirmativo" ng-click="volver()" title="Ir atrás"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button></div>
<div class="col-md-12 text-center color_orange margin_10">AGREAGAR CLIENTE</div>
<form>
<!--<div class="col-md-12 margin_10 form-group">
	<div class="col-md-3">Código</div>
	<div class="col-md-3"><input type="text" class="form-control" name="cliente_codigo" ng-model="cliente_codigo"></div>
</div>-->
<div class="col-md-12 margin_10">
	<div class="col-md-3">Nombre</div>
	<div class="col-md-3"><input type="text" class="form-control" name="cliente_nombre" ng-model="cliente_nombre"></div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-3">Apellido</div>
	<div class="col-md-3"><input type="text" class="form-control" name="cliente_apellido" ng-model="cliente_apellido"></div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-3">Nombre Empresa</div>
	<div class="col-md-3"><input type="text" class="form-control" name="cliente_nombreE" ng-model="cliente_nombreE"></div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-3">Raźon Social</div>
	<div class="col-md-3"><input type="text" class="form-control" name="cliente_razonSocial" ng-model="cliente_razonSocial"></div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-3">NIT</div>
	<div class="col-md-3"><input type="text" class="form-control" name="cliente_nit" ng-model="cliente_nit"></div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-3">Direccion</div>
	<div class="col-md-3"><input type="text" class="form-control" name="cliente_direccion" ng-model="cliente_direccion"></div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-3">Celular</div>
	<div class="col-md-3"><input type="text" class="form-control" name="cliente_celular" ng-model="cliente_celular"></div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-3">Observación</div>
	<div class="col-md-3"><input type="text" class="form-control" name="cliente_observacion" ng-model="cliente_observacion"></div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-3">Vendedor</div>
	<div class="col-md-3">
		<select name="vendedor" id="id_vendedor"
      	ng-options="option.nombre for option in datacv.availableOptionsClienteVendedor track by option.id_empleado"
      	class="c_vendedor form-control" ng-model="selectedClienteVendedor" ng-change="hasChangedClienteVendedor
()">
      	</select>
	</div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-6 text-center"><a href="" class="btn btn_afirmativo" ng-click="cliente_guardar()">Agregar</a></div>
</div>
</form>