<h1 class="text-center col-xs-12 color_orange negritas">CLIENTE</h1>
<div >
<div class="col-md-3 margin_10_bottom"><a class="btn btn_afirmativo" href="#/cliente_agrega">AGREGAR CLIENTE</a></div>
<div class="col-md-9 text-center margin_10_bottom"><strong class="col-md-offset-4 col-md-4">BUSCADOR:</strong>
<input class="col-md-4 ng-pristine ng-untouched ng-valid ng-empty" ng-model="filterOptions.filterText" type="text"></div>
<div class="col-xs-12 gridStyle text-center fondo_p ng-scope ngGrid ng1476375628455 unselectable" ng-grid="gridOptions"></div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <h4 class="modal-title">Advertencia</h4>
      </div>
      <div class="modal-body">
        <p>¿Desea borrar este registro?</p>
      </div>
      <div class="modal-footer">
      	<!--ng-click="cliente_eliminar_modal(datoElimina)"-->
        <button type="button" class="btn btn_afirmativo" ng-click="cliente_eliminar_modal(datoElimina)" ng-model = "datoElimina">Aceptar</button>
        <button type="button" class="btn btn_afirmativo" data-dismiss="modal">Cancelar</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div id="myModalModificar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <h4 class="modal-title">Advertencia</h4>
      </div>
      <div class="modal-body">
        <p>¿Desea modificar este registro?</p>
      </div>
      <div class="modal-footer">
      	<a href="#" class="btn btn_afirmativo"  ng-model = "datoElimina" ng-click="cliente_modificar_modal">Aceptar</a>
        <button type="button" class="btn btn_afirmativo" data-dismiss="modal">Cancelar</button>
      </div>
    </div>

  </div>
</div>
