<div class="col-md-12 text-right"><button id="boton_atras" class="btn btn_afirmativo" ng-click="volver()" title="Ir atrás"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button></div>
<div class="col-md-12 text-center color_orange margin_10">REPORTE NOTA</div>
<div class="col-md-12">
		<div class="col-md-3">
			<div class="col-md-12">FECHA DESDE:</div>
			<div class="col-md-12"> 
				<div class='input-group date' ng-click="fecha_desde()">
  					<!--<p>{{datePicker || "00/00/0000"}}</p>-->
  					<input class="f_d form-control date_desde" type="text" ng-model="ng_date_desde" placeholder="Presione" />
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="col-md-12">FECHA HASTA:</div>
			<div class="col-md-12">  
				<div class='input-group date' ng-click="fecha_hasta()">
  					<!--<p>{{datePicker || "00/00/0000"}}</p>-->
  					<input class="f_h form-control date_hasta" type="text" ng-model="ng_date_hasta" placeholder="Presione" />
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="col-md-12">VENDEDOR:</div>
			<div class="col-md-12">
				<select name="nota_vendedor" id="id_nota_vendedor"
      			ng-options="option.nombre for option in datav.availableOptionsVendedor track by option.id_empleado"
      			class="n_vendedor form-control" ng-model="selectedVendedor" ng-change="hasChangedVendedor()">
      		</select>
      		</div>
		</div>
		<div class="col-md-3">
			<div class="col-md-12 text-center margin_10"><button  class="btn btn_afirmativo" title="Calcular reporte" ng_click="calcular_reporte()">
			<!--<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>-->CALCULAR</button></div>
		</div>
		<div class="col-md-3 oculta_reporte_vendedor">
			<div class="col-md-10">Filtrar por Vendedor.</div>
			<div class="col-md-1 height-10">
				<input type="checkbox" ng-model="checkboxModelVendedorReporte.valor"
           		ng-true-value="'si'" ng-false-value="'no'" ng-click="n_reporte_vendedor()" class="caja_baja">
           	</div>
		</div>
</div>


<div class="calcular_reporte_css">
<div class="col-md-12 margin_10 border_1"></div>
<div class="col-md-12">
	<div class="col-md-12 table-responsive text-center">
		<label class="ficha_cancelado margin_10 col-md-12">CANCELADO</label>
		<table class="table">
			<tr>
				<th class="border_1_force text-center color_orange">Nº Fila</th>
				<th class="size_cell border_1_force text-center color_orange">NOTA</th>
				<th class=" border_1_force text-center color_orange">ESTADO</th>
				<th class="size_cell border_1_force text-center color_orange">ESTADO</th>
				<th class="size_cell border_1_force text-center color_orange">CLIENTE</th>
				<th class="size_cell border_1_force text-center color_orange">VENDEDOR</th>
				<th class="size_cell border_1_force text-center color_orange">FECHA DE CREACIÓN</th>
				<th class="size_cell border_1_force text-center color_orange">TOTAL POR NOTA</th>
			</tr>
			<tr ng-repeat="item in todo_canceldo">
				<td class="color_orange">{{item.id}}</td>
				<td>{{item.id_nota}}</td>
				<td>{{item.id_nota_papel}}</td>
				<td><a href="" ng-click = "nota_cancelado(item.id_nota)"><span class="glyphicon glyphicon-transfer"></span></a></td>
           		<td>{{item.baja}}</td>
				<td>{{item.cliente}}</td>
				<td>{{item.vendedor}}</td>
				<td>{{item.fecha_creacion}}</td>
				<td>{{item.monto}}</td>
			</tr>
			<tr>
				<td colspan="7" class="tamano_super color_blue">TOTAL CANCELADO Bs. {{total_totalesc}}</td>
			</tr>
		</table>

	</div>
</div>


<div class="col-md-12">
	<div class="col-md-12 table-responsive text-center">
		<label class="ficha_debe margin_10 col-md-12">DEBE</label>
		<table class="table">
			<tr>
				<th class="border_1_force text-center color_orange">Nº Fila</th>
				<th class="size_cell border_1_force text-center color_orange">NOTA</th>
				<th class="border_1_force text-center color_orange">ESTADO</th>
				<th class="size_cell border_1_force text-center color_orange">ESTADO</th>
				<th class="size_cell border_1_force text-center color_orange">CLIENTE</th>
				<th class="size_cell border_1_force text-center color_orange">VENDEDOR</th>
				<th class="size_cell border_1_force text-center color_orange">FECHA DE CREACIÓN</th>
				<th class="size_cell border_1_force text-center color_orange">TOTAL POR NOTA</th>
			</tr>
			<tr ng-repeat="item in todo_debe">
				<td class="color_orange">{{item.id}}</td>
				<td>{{item.id_nota}}</td>
				<td>{{item.id_nota_papel}}</td>
				<td><a href="" ng-click = "nota_debe(item.id_nota)"><span class="glyphicon glyphicon-transfer"></span></a></td>
				<td>{{item.baja}}</td>
				<td>{{item.cliente}}</td>
				<td>{{item.vendedor}}</td>
				<td>{{item.fecha_creacion}}</td>
				<td>{{item.monto}}</td>
			</tr>
			<tr>
				<td colspan="7" class="tamano_super color_blue">TOTAL DEBE Bs. {{total_totalesd}}</td>
			</tr>
		</table>
	</div>
</div>


<div class="col-md-12">
	<div class="col-md-12 text-center margin_10"><button  class="btn btn_afirmativo" title="Imprimir reporte" ng_click="imprimir_reporte()">IMPRIMIR</button></div>
</div>
</div>
