<div class="col-md-12 text-right"><button id="boton_atras" class="btn btn_afirmativo" ng-click="volver()" title="Ir atrás"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button></div>
<div class="col-md-12 text-center color_orange margin_10">MODIFICAR PRODUCTO</div>
<form >
<div class="col-md-12 margin_10">
	<div class="col-md-3">Código</div>
	<div class="col-md-3"><input type="text" class="codigo_pro" name="producto_codigo" ng-model="producto_codigo"  disabled="true"></div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-3">Nombre</div>
	<div class="col-md-3"><input type="text" class="nombre_pro" name="producto_nombre" ng-model="producto_nombre"></div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-3">Precio con factura</div>
	<div class="col-md-3"><input type="text" class="precio_pro" name="producto_preciofabrica" placeholder="0.00 Bs." ng-model="producto_precioFabrica"></div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-3">Precio sin factura</div>
	<div class="col-md-3"><input type="text" class="precio_sinFact" name="precio_sinFactura" ng-model="precio_sinFactura"></div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-3">Precio preventista</div>
	<div class="col-md-3"><input type="text" class="precio_pre" name="precio_preventista" ng-model="precio_preventista"></div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-3">Precio MEGAS</div>
	<div class="col-md-3"><input type="text" name="precio_megas" class="precio_me" ng-model="precio_megas"></div>
</div>

<div class="col-md-12 margin_10">
	<div class="col-md-3">Observación</div>
	<div class="col-md-3"><input type="text" class="observacion_pro" name="producto_observacion" ng-model="producto_observacion"></div>
</div>
<div class="col-md-12 margin_10">
	<div class="col-md-6 text-center"><a href="" class="btn btn_afirmativo" ng-click="producto_modificar_btn()">Modificar</a></div>
</div>
</form>